.app_laurels_awards {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 3rem;
}

.app_laurels_awards-card {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 230px;
  margin: 1rem;
}

.app_laurels_awards-card img {
  width: 50px;
  height: 50px;
}

.app_laurels_awards-card-content {
  margin-left: 1rem;
}

@media screen and (min-width: 1900px) {
  .app_laurels_awards-card {
    min-width: 390px;
  }
}