.app_gallery {
  display: flex;
  flex-direction: row;
  background: var(--color-black);
  padding: 4rem 0 4rem 6rem;
}

.app_gallery-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  min-width: 500px;
  padding-right: 2rem;
}

.app_gallery-content button {
  margin-top: 1rem;
}

.app_gallery-img {
  flex: 1;
  display: flex;
  flex-direction: row;
  max-width: 50%;
  position: relative;
}

.app_gallery-img_container {
  display: flex;
  flex-direction: row;
  width: max-content;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.app_gallery-img_container::-webkit-scrollbar {
  display: none;
}

.app_gallery-img_card {
  position: relative;
  min-width: 300px;
  height: 447px;
  margin-right: 2rem;
}

.gallery_image-icon {
  position: absolute;
  color: var(--color-white);
  font-size: 2rem;
  opacity: 0.5;
  transition: 0.5s ease;
  cursor: pointer;
}

.app_gallery-img_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: 0.5s ease;
}

.app_gallery-img_card:hover img {
  opacity: 0.35;
}

.app_gallery-img_card:hover .gallery_image-icon {
  opacity: 1;
}

.app_gallery-img_arrow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 5%;
  padding: 0 1rem;
}

.gallery_arrow-icon {
  color: var(--color-gold);
  background: var(--color-black);
  font-size: 2rem;
  opacity: 0.5;
  transition: 0.5s ease;
  cursor: pointer;
}

.gallery_arrow-icon:hover {
  color: var(--color-white);
}

@media screen and (max-width: 1150px) {
  .app_gallery {
    flex-direction: column;
  }

  .app_gallery-img {
    max-width: 100%;
    margin: 5rem 0;
  }
}

@media screen and (max-width: 850px) {
  .app_gallery {
    padding: 4rem 0 4rem 4rem;
  }

  .app_gallery-content {
    max-width: 100%;
    margin: 5rem 0;
  }
}

@media screen and (max-width: 650px) {
  .app_gallery {
    padding: 4rem 0 4rem 2rem;
  }

  .app_gallery-content {
    min-width: 100%;
  }

  .app_gallery-img-card {
    min-width: 240px;
    height: 320px;
  }
}
