.app_header {
  background-color: var(--color-black);
}

.app_header-h1 {
  font-family: var(--font-family);
  color: var(--color-gold);
  letter-spacing: 0.04rem;
  text-transform: capitalize;  
  line-height: 100px;
  font-size: 90px;
}

.app_header-img img {
  width: 75%;
}
