.section_padding {
  padding: 4rem 6rem;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app_bg {
  background: url(./assets/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
}

.app_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.app_wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app_wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.app_wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;
}

.app_wrapper_img img {
  width: 80%;
}

.custom_button {
  background-color: var(--color-crimson);
  color: var(--color-black);
  font-family: var(--font-family);
  font-weight: 700;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  border-radius: 1px;
  border: none;
  outline: none;
  cursor: pointer;
}

.p_cormorant {
  font-family: var(--font-family);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  font-feature-settings: "tnum" on, "lnum" on;
  line-height: 30px;
  font-size: 23px;
}

.p_opensans {
  font-family: var(--font-alter);
  color: var(--color-white);
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 0.04em;
  line-height: 28px;
  font-size: 16px;
}

.headtext_cormorant {
  font-family: var(--font-family);
  color: var(--color-gold);
  font-size: 64px;
  line-height: 83px;
  letter-spacing: 0.04em;
  text-transform: capitalize;
}

.spoon_img {
  width: 45px;
}

@media screen and (min-width: 2000px) {
  .custom__button,
  .p__cormorant {
    font-size: 37px;
    line-height: 67px;
  }

  .p__opensans {
    font-size: 30px;
    line-height: 50px;
  }

  .headtext__cormorant {
    font-size: 150px;
    line-height: 210px;
  }

  .spoon__img {
    width: 80px;
  }
}

@media screen and (max-width: 1150px) {
  .app__wrapper {
    flex-direction: column;
  }

  .app__wrapper_img {
    margin: 5rem 0 0 0;
  }

  .app__wrapper_img-reverse {
    margin: 0 0 5rem 0;
  }

  .app__wrapper_img img {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 650px) {
  .section__padding {
    padding: 4rem 2rem;
  }
  
  .p__cormorant {
    font-size: 21px;
  }

  .p__opensans {
    font-size: 14px;
  }
}

@media screen and (max-width: 450px) {
  .p__opensans {
    font-size: 12px;
  }

  .p__cormorant {
    font-size: 19px;
  }

  .headtext__cormorant {
    font-size: 45px;
    line-height: 70px;
  }
}
